<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}"> -->
    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }
    legend {
      display: block;
      padding-left: 2px;
      padding-right: 2px;
      border: none;
      margin: auto;
      text-align: center;
      color: navy;
    }
    </style>
  </head>
  <body>
    <legend">OCR</legend>
    <center>
    <img src=" {{url_for('send_image', filename=image_name)}}" width="100%">
    <p style="text-align: center;"> <b>Predict</b>: {{ predict }} </p> 

    
  </body>
</html>
