<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}"> -->
    <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height:1.5em;
      color: #232323;
      -webkit-font-smoothing: antialiased;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }
    h1, h2, h3 {
      font-family: Times, serif;
      line-height:1.5em;
      border-bottom: 1px solid #ccc;
      color: navy;
      margin-left: 20px;
      margin: auto;
      text-align: center;
    }
    </style>

</head>
  <body>
    <h1> OCR </h1>
    <center>
    <img stype="margin-left: auto; margin-right: auto;" src={{ summary_img }}>
    <p style="text-align: center;"> <b>Predict</b>: {{ predict }} </p>
    </center>
 </body>
</html>
